<main class="main">
  <header class="header">
      <h1 class="logo">Amerika</h1>
  </header>

  <aside class="aside">
    <nav class="nav">
        <ul class="list">
          <li class="list-item"><a class="list-item-link" href="#">Inicio</a></li>
          <li class="list-item"><a class="list-item-link" href="#">Servicios</a></li>
          <li class="list-item"><a class="list-item-link" href="#">Acerca de</a></li>
          <li class="list-item"><a class="list-item-link" href="#">Contacto</a></li>
        </ul>
      </nav>
  </aside>

  <section class="section">
    <ul class="image-list">
      <li class="image-list-item">
        <article>
          <img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"/>
        </article>
      </li>
      <li class="image-list-item">
          <article>
            <img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"/>
          </article>
      </li>
      <li class="image-list-item">
          <article>
            <img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"/>
          </article>
        </li>
      <li class="image-list-item">
          <article>
            <img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"/>
          </article>
      </li>
      <li class="image-list-item">
        <article>
          <img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"/>
        </article>
      </li>
      <li class="image-list-item">
          <article>
            <img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"/>
          </article>
        </li>
        <li class="image-list-item">
            <article>
              <img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"/>
            </article>
        </li>
        <li class="image-list-item">
            <article>
              <img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"/>
            </article>
          </li>
        <li class="image-list-item">
            <article>
              <img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"/>
            </article>
        </li>
        <li class="image-list-item">
          <article>
            <img class="image" src="https://dummyimage.com/200x200/000/fff.png" alt="imagen"/>
          </article>
        </li>
    </ul>
  </section>
  <footer class="footer">
    <ul class="icon-list">
      <li class="icon-list-item">
        <a class="icon-item-link" href="#"><span class="icon icon-display"></span></a>
      </li>
      <li class="icon-list-item">
        <a class="icon-item-link" href="#"><span class="icon icon-mobile2"></span></a>
      </li> 
      <li class="icon-list-item">
        <a class="icon-item-link" href="#"><span class="icon icon-tv"></span></a>
      </li>
      <li class="icon-list-item">
        <a class="icon-item-link" href="#"><span class="icon icon-spinner4"></span></a>
      </li>
    </ul>
  </footer>
</main>