.section{
    height: 100vh;
    .container{
        min-height: 100%;
        position: relative;
        .box{
            background: #FFF;
            bottom: 86px;
            padding: 64px 52px 30px 52px;
            position: absolute;
            top:45px;
            width: 380px;
            .box-title{
                @include reset();
                font-size: 38px;
            }
            .box-text{
                @include reset();
                font-size: 18px;
                line-height: 30px;
            }
        }
        .box-right{
            right: 0;
        }
        .box-left{
            left: 0;
        }
    }
    
}
.section-one{
    padding-top: 45px;
}

.section-one, .section-two{
    background: linear-gradient(rgb(180, 210, 248),rgb(176, 194, 243))
}